{% extends "base.html" %}
{% block title %} Delete Item {% endblock %}
{% block body %}
    <div class="p-3 mb-2 bg-success text-white text-center"><h1>Delete Item</h1></div>
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <h2>Are you sure you want to delete {{ item.item_name }}</h2>
                <button class="btn btn-danger" type="submit">Confirm</button>
                <a class="btn btn-secondary" href="{% url 'food:index' %}" type="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}